[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
favorites = "HQVu2sSPKk29LXksJpbimj1MvgQ47y6MQywJiRc7nTRS"

[programs.devnet]
favorites = "HQVu2sSPKk29LXksJpbimj1MvgQ47y6MQywJiRc7nTRS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.test.ts"
