[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
hand = "66EGDNRa6Na6rQc1bZqKMP6qyVwCdJ2Y36ZUhy4eJKWY"
lever = "DqG43HjEBrqe13BUJHGFKdpX59uhaojC8SsrvoGqrRMt"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
