/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Global styles */
html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
